.page_moves h1, .page_moves_id h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5cap;
    background-color: #e41d1a;
    margin-bottom: 0%;
}

.page_moves_id .aclaracion_titulo {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3cap;
    background-color: #f36663;
    margin-top: 0%;
}

.page_moves_id h2 {
    letter-spacing: 5px;
    text-align: center;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3%;
    margin-bottom: 0%;
}

.page_moves p, .page_moves_id p {
    width: fit-content;
    margin: auto;
    padding: 1ch;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

.table_moves {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    border-style: solid;
    border-color: #FFB300;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

.table_moves th {
    background-color: #FFB300;
    border: 2px solid #FFB300;
}

.table_moves td {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    border: 2px solid #FFB300;
    background-color: #fff2c8;
}

.table_move_data {
    margin: auto;
    border-collapse: collapse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.table_move_data th {
    width: 11cap;
    text-align: right;
    text-indent: 1cap;
    border-top: 2px solid rgb(187, 187, 186);
    border-bottom: 2px solid rgb(187, 186, 186);
}

.table_move_data td {
    width: fit-content;
    text-align: left;
    text-indent: 3cap;
    border-top: 2px solid rgb(187, 186, 186);
    border-bottom: 2px solid rgb(187, 186, 186);
}

.fila_par {
    background-color: #FFE3A1;
}

.fila_impar {
    background-color: #FFEBCC;
}

.table_move_pokemons {
    width: 800px;
    height: fit-content;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    border-collapse: collapse;
    border: solid #7f9619;
    font-size:larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}

.table_move_pokemons th {
    background-color: #7f9619;
    border: 2px solid #7f9619;
}

.table_move_pokemons td {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #7f9619;
    background-color: #e3ecb8;
}

.pagina_moves_id img {
    width: 100px;
}

.move-search {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
