
.page-teams{
    background-color: #ffffff;
    border: 0px;
    font-family:'Courier New', Courier, monospace;
}

.team-tittle{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 5cap;
}

.team-conteiner{
    display: flex;
    flex-direction: column;
    max-width: 1220px;
    width: 85%;
    position: relative;
    margin: 10px auto 48px;
    background-color: #97b770; 
    padding: 10px;
    gap: 10px;
}

.list-teams {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 1220px;
}

.team-box{
    background-color: #ffffff;
    border: 4px solid #608334;
    padding: 10px;
    text-transform: capitalize;
}

.id-box{
    text-align: left;
    font-size: 15px;
    border-bottom-width: 1px;
    border-bottom-style:groove;
    border-bottom-color:#608334;
    display: flex;
    flex-direction: row;
    gap: 55%;
}

.team-name{
    text-align: center;
    font-size: 15px;
    display: block;
    margin: 7px;
    border: 2px solid #ee892f;
    background-color: #ffbb6d; 
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.team-name:hover{
    background-color: white;
    color: black;
}

.members-box{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.team-search {
    max-width: 1240px;
    display: block;
    margin: 0 auto;
}

.create-team-link {
    text-decoration: none;
    color: #1e88e5;
    font-weight: bold;
    cursor: pointer;
}

.create-team-link:hover {
    text-decoration: underline;
}

.create-team-link {
    padding: 2px 10px;
    border: 3px solid #ee892f;
    background-color: #ffffff;
    text-align: right;
    cursor: pointer;
    text-decoration: none;      
    display: inline-block;
    font-weight: bold;
    color: #ee892f;
}

.create-team-link:hover{
    background-color: #ee892f;
    color: white;
}

.pagination{
    display: flex;
    max-width: 1220px;
    width: 85%;
    position: relative;
    margin: 10px auto 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.button-page{
    border: 2px solid #ee892f;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
    padding: 10px 20px; 
    width: 50px; 
    height: 50px;
}

.button-page:hover {
    background-color: #ee892f;
    border-color: #ffbb6d;
}

.button-delete{
    border: 1px red solid;
    color: red;
    background-color:white;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 2px;
}

.button-delete:hover{
    background-color:rgb(255, 130, 130);
}